In [ ]:
!pip install PyHive thrift thrift-sasl

In [3]:
from pyhive import hive 

conn = hive.connect(
    host='localhost',
    port= 10000,
    username='hive',
    auth='NONE',
)

cursor = conn.cursor()
cursor.execute('SELECT 2+2')
results = cursor.fetchall()

for row in results:
    print(row)

cursor.close()
conn.close()

(4,)

Пример использования в Jupyter Notebook

In [4]:
conn = hive.connect(host='localhost', port=10000)
cursor = conn.cursor()


cursor.execute('CREATE TABLE IF NOT EXISTS employees (id INT, name STRING, salary DOUBLE)')

cursor.execute("INSERT INTO employees VALUES (1, 'John Doe', 50000.00)")
cursor.execute("INSERT INTO employees VALUES (2, 'Jane Smith', 60000.00)")

cursor.execute('SELECT * FROM employees')

for row in cursor.fetchall():
    print(row)

cursor.close()
conn.close()

(2, 'Jane Smith', 60000.0)
(1, 'John Doe', 50000.0)

In [14]:
conn = hive.connect(host='localhost', port=10000)
cursor = conn.cursor()

cursor.execute("DROP TABLE IF EXISTS students")

cursor.execute("""
    CREATE TABLE students (
        student_id INT,
        name STRING,
        age INT,
        major STRING,
        enrollment_date STRING
    )
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ','
    STORED AS TEXTFILE
    tblproperties ("skip.header.line.count"="1")
""")

# Загружаем данные из файла в таблицу
cursor.execute("""
    LOAD DATA INPATH '/opt/hive/data/warehouse/students.csv' 
    INTO TABLE students
""")

cursor.close()
conn.close()

In [16]:
conn = hive.connect(
    host='localhost', 
    port=10000)

cursor = conn.cursor()

cursor.execute("""
    SELECT major, COUNT(*) as total_students
    FROM students
    GROUP BY major
""")

for row in cursor.fetchall():
    print(row)

cursor.close()
conn.close()

('Biology', 1)
('Computer Science', 2)
('Mathematics', 1)
('Physics', 1)

In [17]:
conn = hive.connect(
    host='localhost', 
    port=10000)

cursor = conn.cursor()

cursor.execute("""
    SELECT AVG(age) as average_age
    FROM students
""")

for row in cursor.fetchall():
    print(row)

cursor.close()
conn.close()

(21.2,)